.card {
    width: 300px;
    background-color: #00DAD9;
    border-radius: 15px;
    padding: 1%;
}

.image {
    width: 290px;
}

.button {
    background-color: #00DAD9;
    border: 1px solid black;
}