.text {
    text-align: justify;
    white-space: pre-line;
    margin: 1%;
}

.aboutUsImage {
    display: flex;
    justify-content: center;
}

.image {
    width: 290px;

}

.bold {
    font-weight: bold;
}
